In [1]:
# 판다스 라이브러리 불러오기 (관습적으로 pd라는 이름으로 축약)
import pandas as pd

# 판다스의 데이터 프레임 생성
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births, custom))
    # zip() : N개의 리스트를 전달하면, 각각의 요소가 짝을 맞추어 하나로 묶음 -> zip객체를 리턴한다
    # list() : 변환가능한 다른 자료형을 리스트(배열)로 변환한다, zip객체를 보기 위해서는 list나 dictionary로 변환해야 한다
df = pd.DataFrame(data = BabyDataSet, columns = ['NAME','BIRTH','CUSTOM'])

# 데이터 프레임의 상단 부분 출력
df.head()

      NAME  BIRTH  CUSTOM
0      Bob    968       1
1  Jessica    155       5
2     Mary     77      25
3     John    578      13
4      Mel    973   23232

In [2]:
# 데이터 프레임 각 열의 데이터타입(dtypes) 정보 출력
df.dtypes

NAME      object
BIRTH      int64
CUSTOM     int64
dtype: object

In [3]:
# 데이터 프레임의 인덱스 정보
df.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
# 데이터 프레임의 열 형태 정보
df.columns

Index(['NAME', 'BIRTH', 'CUSTOM'], dtype='object')

In [5]:
# 데이터 프레임에서 하나의 열 선택
# 시리즈(Series) 객체가 출력됨, index가 같이 출력된다
df['NAME']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: NAME, dtype: object

In [6]:
# 데이터 프레임에서 0-3번째 인덱스 선택
# 데이터프레임이 출력됨
df[0:3]

      NAME  BIRTH  CUSTOM
0      Bob    968       1
1  Jessica    155       5
2     Mary     77      25

In [7]:
# BIRTH 열이 100보다 큰 데이터를 선택
df[df['BIRTH'] > 100]

      NAME  BIRTH  CUSTOM
0      Bob    968       1
1  Jessica    155       5
3     John    578      13
4      Mel    973   23232